.body {
  min-width: 320px;
  /* max-width: 1440px; */
  min-height: 110vh;
  margin: 0 auto;
  /* padding: 0 50px; */
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: #000;
}