.projects__scrin {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  object-position: top;
  box-shadow: -10px 20px 20px 10px rgba(0, 0, 0, .6);
}

.projects__scrin:hover {
  box-shadow: 0 0 0 0 #000;
}