.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../Images/mohammad-rahmani-N5bT5RctFZ8-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  transition: 1s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 80px 10px #363636;
  z-index: 2;
}

.header::after {
  content: '';
  background: #000;
  opacity: .7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
