.projects__stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1000px) {
  .projects__stack {

  }
}

@media screen and (max-width: 550px) {
  .projects__stack {

  }
}