.header__photo {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 1s;
  z-index: 3;
  transform: scale(0.9) translateY(40px);
}

.header__photo:hover {
  transform: scale(1.1);
}

.sticky .header__photo {
  opacity: 0;
}