.about__description {
  max-width: 800px;
  padding: 0 50px;
  font-size: 26px;
  line-height: 1.2;
  /* list-style-image: url('../../../Images/list-style-type.png'); */
}

.about__description span {
  position: relative;
  display: inline-block;
}