.contact {
  position: relative;
  padding: 50px 0;
  background-image: url('../../Images/about2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: 0 0 50px 50px black inset;
  z-index: 1;
}

.contact::after {
  content: '';
  background: #000;
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}