.contact {
  position: relative;
  padding: 50px 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* 
.contact::after {
  content: '';
  background: #000;
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
} */