.about__description-item {
  padding: 0 0 0 30px;
  background-image: url('../../../Images/list-style-type.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
}